<form action="/sign_in" method="get">
  <input type="submit" value="Sign-in">
</form>

<h2>Sign up to MakersBnB</h2>
<form action="/sign_up" method="post">
  <input type="name" name="name" placeholder="Name">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password_one" placeholder="Password">
  <input type="password" name ="password_two" placeholder="Confirm Password">
  <input type="submit" value="Sign-up">
</form>