<form class="sign_in" action="/sign_in">
    <input type="submit" value="Sign-in" />
</form>


<form action='/sign_up' method='post'>
  <h3>Enter your email - <input type='email' name='email'></h3>
  <h3>Enter your password - <input type='password' name='password'></h3>
  <h3>Confirm your password - <input type='password' name='password'></h3>
  <h3><input type='submit' value='Sign-up'></h3>
</form>