<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
<h1>Welcome, to MakersBnB<br>___________</h1>


<div class="log_in">
<form action="/sign_in" method="get">
Already a member?  <input type="submit" value="Sign-in">
</form>
</div>

<h3 style="color: red;"> <%= flash[:notice] %> </h3>
<h3 style="color: red;"> <%= flash[:cullmike] %> </h3>

<div class="sign_up">
<h2>Sign up below:</h2>
<p>Enter your details</p>
<form action="/sign_up" method="post">
  <input type="name" name="name" placeholder="Name">
  <br><input type="email" name="email" placeholder="Email">
  <br><input type="password" name="password_one" placeholder="Password">
  <br><input type="password" name ="password_two" placeholder="Confirm Password">
  <br><input type="submit" value="Sign-up">
</form>
</div>
</body>
