<form action="/new_space" method="post">
  <input type="text" name="name" placeholder=“Name”>
  <input type="text" name="description" placeholder="Description">
  <input type="text" name="price" placeholder=“Price”>
  <input type="date" name="date_avail">
  <h3><input type="submit" value="Submit"></h3>
</form>