
<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

<h1>This is the login page<br>___________</h1>


<h3 style="color: red;"> <%= flash[:notice] %> </h3>
<div class="sign_in">

<form action='/sign_in' method='post'>
  <h2>Login below:</h2>
  <p>Enter your details</p> 
  <input type='email' name='email' placeholder="Email">
  <br><input type='password' name='password' placeholder="Password">
  <br><input type='submit' value='Submit'>
</form>

</div>


</body>