<h1>Welcome to Spaces</h1>
<form action='/spaces' method='post'>
  <h3>Request a booking! </h3>
  <textarea name='message' rows='4' cols='50'>Enter message here..</textarea></h3>
  <h3><input type='submit' value='Submit'></h3>
</form>

# if the owner of the listing in logged in the button to accept appears
