body {
  background-size: cover;
  /* color: rgb(0, 0, 0); */
  margin: 0px;
  background-color: #fff;
  color: #6f6d6d;
  /* font-family: 'Lato', 'Arial', sans-serif; */
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  min-height:100%;
  background:linear-gradient(0deg, rgba(37, 30, 136, 0.3), rgba(37, 30, 136, 0.3)), url(https://lh3.googleusercontent.com/7eDxa0H11YWK7WTqgQpVNiml0Bx-0n4Dma55m3_FwRaOSrtB8WZD9ZZ9PcfcCI-4d9WTeGZ7LEAW6f9SLOjlRS-m=s1600);
  background-size:cover;
}


.card {
  text-align: center;
  position: relative;
  border: 1px solid #000000;
  border-style: groove;
  background-color: #426B69;
  }

  textarea {
    resize: none;
    width: 90%;
  }
  

 html { box-sizing: border-box; }

 
 
 span {
   color: #74c3e2;
   text-align: right;
   
 }
 
 .log_in {
   color: white;   
   font-size: 22px;
   position:absolute;
   top:0;
   right:0;
   font-weight: 600;
 }
 
 .ul {
   text-align: right;
 }
 
 body {
   margin: 0 auto;
   min-width: 600px;
   max-width: 100%;
   color: #000000; 
   font-family: 'Roboto', sans-serif;
 }
 
 h1, h2, h3, h4, h5, h6, p {
   color: #ffffff;
   margin-bottom: 0.5rem;
 }

 h1 {
   text-align: center;
 }

 h3 {
  text-align: center;
  font-size: 20px;
 }
 
 .heading {
   position: absolute;
   text-align: center;
   margin-left: 45%;
   font-size: 60px;
   font-family: 'Roboto', sans-serif;
 }
 
 .sign_up, .sign_in, .addspace, .your_space {
  width: 500px;
  /* height: 400px; */
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -200px;
  margin-left: -250px;
  border-style: groove;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #000000;
  background-color: #0816429a;
  line-height: 50px;
}

.spaceadded {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  position: relative;
  width: 75%;
  border-radius: 25px;
  border: 2px solid #000000;
  background-color: #0816429a;
  border-style: groove;
}

.log_off {
  color: white;   
  font-size: 22px;
  position:absolute;
  top:0;
  right:0;
  font-weight: 600;
}





